In [5]:
import pandas as pd

countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
             'Netherlands', 'Germany', 'Switzerland', 'Belarus',
             'Austria', 'France', 'Poland', 'China', 'Korea', 
             'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
             'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]

olympic_medal_counts = {'country_name':countries,
                        'gold': gold,
                        'silver': silver,
                        'bronze': bronze}
df = pd.DataFrame(olympic_medal_counts)

In [7]:
df.head()

   bronze   country_name  gold  silver
0       9   Russian Fed.    13      11
1      10         Norway    11       5
2       5         Canada    10      10
3      12  United States     9       7
4       9    Netherlands     8       7

  Compute the average number of bronze medals earned by countries who 
    earned at least one gold medal.

1. get countries that have earned at least one gold medal
2. calculate the avg

In [10]:
df_gold = pd.DataFrame(df['gold']>0)

In [11]:
df_gold

     gold
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
10   True
11   True
12   True
13   True
14   True
15   True
16   True
17   True
18   True
19   True
20   True
21  False
22  False
23  False
24  False
25  False