In [1]:
import sqlite3 as lite
import pandas as pd
import numpy as np
import statsmodels.api as sm
from pandas.tools.plotting import scatter_matrix

In [2]:
con = lite.connect('social_stats.db')
cur = con.cursor()

In [3]:
join_command = 'SELECT country, year, men_years, women_years, total_years, _1999, _2000, _2001, _2002, _2003, _2004, _2005, _2006, _2007, _2008, _2009, _2010 FROM education LEFT OUTER JOIN gdp ON education.country = gdp.country_name;'

In [4]:
with con:
    cur.execute(join_command)
    data = cur.fetchall()
df_combined = pd.DataFrame(data)

In [92]:
df_combined_column_named = df_combined.rename(columns={0: 'country', 1: 'year', 2: 'men_ed_yrs', 3: 'women_ed_yrs', 4: 'total_ed_yrs', 5: '1999', 6: '2000', 7: '2001', 8: '2002', 9: '2003', 10: '2004', 11: '2005', 12: '2006', 13: '2007', 14: '2008', 15: '2009', 16: '2010'})

In [93]:
df_combined_column_named.head()

,country,year,men_ed_yrs,women_ed_yrs,total_ed_yrs,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Afghanistan,2004,11,5,8,NaN,NaN,2461666315,4128818042,4583648922,5285461999,6.275076e+09,7.057598e+09,9.843842e+09,1.019053e+10,1.248694e+10,1.593680e+10
1,Albania,2004,11,11,11,3414760915,3632043908,4060758804,4435078648,5746945913,7314865176,8.158549e+09,8.992642e+09,1.070101e+10,1.288135e+10,1.204421e+10,1.192695e+10
2,Algeria,2005,13,13,13,48640611686,54790060513,54744714110,56760288396,67863829705,85324998959,1.030000e+11,1.170000e+11,1.350000e+11,1.710000e+11,1.370000e+11,1.610000e+11
3,Andorra,2008,11,12,11,1239840270,1401694156,1484004617,1717563533,2373836214,2916913449,3.248135e+09,3.536452e+09,4.010785e+09,4.001349e+09,3.649863e+09,3.346317e+09
4,Anguilla,2008,11,11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
data = [] #creates an empty list
for idx, row in df_combined_column_named.iterrows(): 
    data.append((row['country'], row['year'], row[row['year']]))
result = pd.DataFrame(data, columns=['country', 'year','value'])
print(result)

                                              country  year         value
0                                         Afghanistan  2004  5.285462e+09
1                                             Albania  2004  7.314865e+09
2                                             Algeria  2005  1.030000e+11
3                                             Andorra  2008  4.001349e+09
4                                            Anguilla  2008           NaN
5                                             Austria  2008  4.280000e+11
6                                          Azerbaijan  2008  4.885248e+10
7                                             Bahrain  2006  1.850505e+10
8                                          Bangladesh  2007  7.961189e+10
9                                             Belarus  2007  4.527575e+10
10                   Bolivia (Plurinational State of)  2007  1.312018e+10
11                             Bosnia and Herzegovina  2009  1.760063e+10
12                                           Botswana  2006  1.012694e+10
13                                             Brazil  2008  1.700000e+12
14                             British Virgin Islands  2005           NaN
15                                           Cameroon  2009  2.338114e+10
16                                             Canada  2002  7.530000e+11
17                                         Cape Verde  2009  1.711817e+09
18                                     Cayman Islands  2008           NaN
19                           Central African Republic  2009  1.981728e+09
20                                           Colombia  2009  2.340000e+11
21                                            Comoros  2004  3.681431e+08
22                                              Congo  2003  3.495869e+09
23                                       Cook Islands  2010           NaN
24                                         Costa Rica  2005  1.996493e+10
25                   Democratic Republic of the Congo  2008  1.920606e+10
26                                            Denmark  2008  3.530000e+11
27                                           Djibouti  2007  8.479189e+08
28                                           Dominica  2008  4.581481e+08
29                                 Dominican Republic  2004  2.203921e+10
..                                                ...   ...           ...
63                                            Nigeria  2005  1.120000e+11
64                                               Niue  2005           NaN
65                                             Panama  2008  2.488400e+10
66                                           Paraguay  2007  1.379491e+10
67                                               Peru  2006  8.786209e+10
68                                        Philippines  2008  1.740000e+11
69                                             Poland  2008  5.300000e+11
70                                 Russian Federation  2008  1.660000e+12
71                                             Rwanda  2009  5.308990e+09
72                                        Saint Lucia  2009  1.186800e+09
73                   Saint Vincent and the Grenadines  2005  5.507287e+08
74                                              Samoa  2001  2.730884e+08
75                                       Sierra Leone  2001  1.079478e+09
76                                           Slovakia  2008  1.000000e+11
77                                           Slovenia  2008  5.558985e+10
78                                    Solomon Islands  2006  4.567079e+08
79                                              Spain  2008  1.630000e+12
80                                           Thailand  2009  2.820000e+11
81                                  TFYR of Macedonia  2008           NaN
82                                            Tokelau  2004           NaN
83                                              Tonga  2004  2.362474e+08
84                                Trinidad and Tobago  2005  1.598228e+10
85                                            Ukraine  2008  1.800000e+11
86                               United Arab Emirates  2003  1.240000e+11
87  United Kingdom of Great Britain and Northern I...  2008  2.790000e+12
88                        United Republic of Tanzania  1999  9.697847e+09
89                           United States of America  2008  1.470000e+13
90                                              Yemen  2005  1.675377e+10
91                                             Zambia  2000  3.600683e+09
92                                           Zimbabwe  2003  5.727592e+09

[93 rows x 3 columns]

In [ ]:
df.get_value('Afghanistan', '2004')